.hsh-filters-container {
    width: 100%;
    background-color: $hsh-black;
    height: 50px;
}

.hsh-filters-form {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    max-width: 800px;
}

.hsh-filters-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hsh-filters-form-item {

    input, select {
        box-sizing: content-box;
        box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.2);
        display: block;
        margin: 0 auto;
        border: none;
        border-radius: 8px;
        width: 90%;
        height: 30px;
        outline: none;
        padding: 0 5px;
    }
}
