.hsh-header-auth-main {
    background: linear-gradient(0deg, rgba(255, 88, 100, 1) 0%, rgba(255, 101, 91, 1) 100%);
}

.open-menu {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;

    .hsh-header-auth-mobile {
        display: block;
    }
}

.hsh-header-auth-container {
    width: 100%;
    top: 0;
    height: 75px;
    display: flex;
    justify-content: space-around;
}

.hsh-header-auth-container-image {
    width: 30%;
    display: flex;
    justify-content: center;
}

.hsh-header-auth-image {
    margin: 4px auto;
}

.hsh-header-auth-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
}

.hsh-header-auth-items-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 90%;
}

//menu mobile

.hsh-header-auth-menu-burger-container {
    display: none;
    align-items: center;
}

.hsh-header-auth-menu-burger {
    display: inline-block;
    cursor: pointer;
    height: 33px;
}

.hsh-header-auth-menu-burger-bar1, .hsh-header-auth-menu-burger-bar2, .hsh-header-auth-menu-burger-bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.hsh-header-auth-menu-burger-bar1 {
    margin: 0;
}

.change .hsh-header-auth-menu-burger-bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .hsh-header-auth-menu-burger-bar2 {
    opacity: 0;
}

.change .hsh-header-auth-menu-burger-bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.hsh-header-auth-mobile {
    display: none;
    margin-top: 40px;
}

.hsh-header-auth-nav-mobile {

}

.hsh-header-auth-items-list-mobile {
    list-style: none;
    padding: 0;
}

.hsh-header-auth-item-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 5px;

    .hsh-link {
        font-size: 24px;
    }
}


@media only screen and (max-width: $sm) {
    .hsh-header-auth-nav {
        display: none;
    }

    .hsh-header-auth-menu-burger-container{
        display: flex;
    }
}

