.hsh-menu-item-container {
    height: max-content;
    width: 90%;
    max-width: 300px;
    box-sizing: content-box;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &:hover {
        -webkit-animation: changeColor 4s infinite;
        animation: changeColor 4s infinite;
    }
}

@keyframes changeColor {
    0% {
        box-shadow: 4px 4px 9px 0 $hsh-orange;
    }
    30% {
        box-shadow: 4px 4px 9px 0 $hsh-orange;
    }
    50% {
        box-shadow: 4px 4px 9px 0 $hsh-pink;
    }
    70% {
        box-shadow: 4px 4px 9px 0 $hsh-pink;
    }
    100% {
        box-shadow: 4px 4px 9px 0 $hsh-red;
    }
}

.hsh-menu-item-image {
    width: 100%;
    height: 300px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0 0;
    }
}

.hsh-menu-item-category {
    display: flex;
    align-items: center;
    background-color: $hsh-orange;
    justify-content: center;
    height: 30px;

    .hsh-txt {
        color: $hsh-white;
    }
}

.hsh-menu-item-category-description {
    padding: 8px;
}

.hsh-menu-item-city {
    padding: 8px;
    border-bottom: 1px solid $hsh-gray;
}

@media only screen and (max-width: 640px) {
    .hsh-menu-item-container {
        max-width: 640px;
    }
}
