.hsh-country-item-container {
    width: 100%;
}

.hsh-country-item-container-country {
    max-width: 500px;
    width: 90%;
    box-sizing: content-box;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.2);
    margin: 20px auto 0;
    border-radius: 8px;
    cursor: pointer;
}

.hsh-country-item-container-country-section {
    display: flex;
    justify-content: center;
}

.hsh-country-item-left {
    width: 25%;

    img {
        width: 100%;
    }
}

.hsh-country-item-right {
    width: 70%;
    text-align: center;
}

.hsh-country-item-country-name {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 30%;
}

.hsh-country-item-country-body {
    height: 40%;
}

.hsh-country-item-country-details {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 30%;
    align-items: start;
}

.hsh-country-item-container-cities {
    max-height: 0;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    transition: max-height 2s ease-in-out;

    .hsh-country-item-container-city {
        display: none;
    }
}

.hsh-country-item-container-cities.active {
    max-height: 1000px;
    padding-bottom: 10px;

    .hsh-country-item-container-city {
        display: block;
    }
}
