.hsh-login-container {
    position: relative;
    display: flex;
    width: 100%;
    background: $hsh-white;
    height: calc(100vh - 100px);
}

.hsh-login-container-white {
    background: $hsh-white;
}

.hsh-login-container-left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hsh-login-container-form {
    width: 90%;
    background: $hsh-white;
    height: 80%;
}

.hsh-login-container-right {
    width: 60%;
    background: var(--hsh-red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hsh-login-container-image {
    width: 80%;
    background-color: $hsh-white;
    height: 80%;
    border-radius: 32px;
}

.hsh-login-container-image-right {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 32px;
}

.hsh-login-form {
    background: red;
    width: 100%;

}

.hsh-login-form-item {
    display: block;
    width: 90%;
    background: #1acbff;
    margin: 0 auto;

    input {
        margin-top: 10px;
        border: none;
        border-bottom: 1px solid $hsh-black;
        width: 100%;
    }
}
